#head{
  background-color: #000000;
  color: #ffffff;
  padding:15px;
}


#top{ 
  background-image: url('https://wallpapersfind.com/wp-content/uploads/2017/10/mountain-road-beautiful-landscape-wallpaper.jpg');
  background-size: cover;
  margin-top: -20px
}
footer {
  background-color: #000000;
  color:#ffffff;
}

.center {
  text-align: center;
}
footer{ 
  clear: both;
}
 .grid-container { 
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  
   
 }
   