#head{
  background-color: #000000;
  color: #ffffff;
  padding:15px;
}

#top{ 
  background-image: url('https://www.desktodirtbag.com/wp-content/uploads/2016/10/most-scenic-drives-USA-27.jpg');
  background-size: contain;
}
footer {
  background-color: #000000;
  color:#ffffff;
}