body {
  font-family: 'Montserrat', sans-serif;

}
#head{
  background-color: #000000;
  color: #ffffff;
  padding:15px;
  opacity: .85;
}

img { 
  align-content: center;
  height: 80%;
  width: 964px;
  margin: 0px;
}

#top{ 
  position: relative;
  text-align: center;
}
footer {
  background-color: #000000;
  color:#ffffff;
}

#adventure{
  text-align: center;
  position:absolute;
  top:100px;
  left: 264px;
}

footer{ 
  clear: both;
}
 .grid-container { 
  width: 100vw;
  display: grid;
  grid-template: 1fr/  1fr 1fr 1fr;
 }

.grid-item {
  width: 60%;
  border: solid;
  
}   
.main {
  color: #404040;
  text-align: center;
  text-decoration: underline;
}

#red {
  color:red;
  text-align: center;
}