#head{
  background-color: #000000;
  color: #ffffff;
  padding:15px;
}


#top{ 
  background-image: url('https://wallpapersfind.com/wp-content/uploads/2017/10/mountain-road-beautiful-landscape-wallpaper.jpg');
  background-size: cover;
  margin-top: -20px
}
footer {
  background-color: #000000;
  color:#ffffff;
}

.center {
  text-align: center;
}

#consider, #decision, #first {
  float: left;
}
footer {
  clear: both;
}
 #grid { 
   column-count: 3;
   column-width: 30%
 }
   