body {
  font-family: 'Montserrat', sans-serif;

}
#head{
  background-color: #000000;
  color: #ffffff;
  padding:15px;
  opacity: .85;
}

#top{ 
  display: block;
  height: 600px;
  background-image: url('https://wallpapersfind.com/wp-content/uploads/2017/10/mountain-road-beautiful-landscape-wallpaper.jpg');
  background-position: center;
  background-size: cover;
  margin-top: -22px;
  color: #404040;
}
footer {
  background-color: #000000;
  color:#ffffff;
}

.center {
  text-align: center;
  padding:20px;
}

footer{ 
  clear: both;
}
 .grid-container { 
  width: 100vw;
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr;
  grid-column-gap: 20px;
 }

.grid-item {
  width: 80%;
  height: 120%
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
}   
.main {
  color: #404040;
  text-align: center;
  text-decoration: underline;
}

#red {
  color:red;
  text-align: center;
}