
#head{
  background-color: #000000;
  color: #ffffff;
  padding:15px;
}


#top{ 
  display: block;
  height: 400px;
  background-image: url('https://wallpapersfind.com/wp-content/uploads/2017/10/mountain-road-beautiful-landscape-wallpaper.jpg');
  background-position: center;
  background-size: cover;
  margin-top: -20px
  font-family: 'Montserrat Semibold';
}
footer {
  background-color: #000000;
  color:#ffffff;
}

.center {
  text-align: center;
  padding:20px;
}
footer{ 
  clear: both;
}
 .grid-container { 
  width: 100vw;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
 }

.grid-item {
  background-color: #D3D3D3;
  justify-self: center;
}   
.main {
  color: #404040;
  font-family: 'Montserrat Semibold';
  
}